# Get X-Remote-User from the reverse proxy
SetEnvIf X-Remote-User "(..*)" REMOTE_USER=$1

<Directory "<%= ENV['OPENSHIFT_AUSNIMBUS_SM_DIR'] %>/">
  Allow from env=REMOTE_USER
  Allow from ec2-54-66-228-220.ap-southeast-2.compute.amazonaws.com
  Allow from ec2-52-64-9-242.ap-southeast-2.compute.amazonaws.com

  Order Deny,Allow
  Deny from all
  Satisfy all
</Directory>

<Directory "<%= ENV['OPENSHIFT_AUSNIMBUS_SM_DIR'] %>/ausnimbus_sitemanager/_sm/lib/elfinder/css">
  Order Allow,Deny
  Allow from all
</Directory>

<Directory "<%= ENV['OPENSHIFT_AUSNIMBUS_SM_DIR'] %>/ausnimbus_sitemanager/_sm/lib/elfinder/js">
  Order Allow,Deny
  Allow from all
</Directory>

<Directory "<%= ENV['OPENSHIFT_AUSNIMBUS_SM_DIR'] %>/ausnimbus_sitemanager/_sm/lib/elfinder/images">
  Order Allow,Deny
  Allow from all
</Directory>

<Directory "<%= ENV['OPENSHIFT_AUSNIMBUS_SM_DIR'] %>/ausnimbus_sitemanager/_sm/lib/adminer">
  Order Allow,Deny
  Allow from all
</Directory>
