ServerRoot "<%= ENV['OPENSHIFT_AUSNIMBUS_SM_DIR'] %>"
DocumentRoot "<%= ENV['OPENSHIFT_AUSNIMBUS_SM_DIR'] %>/ausnimbus_sitemanager"
Listen <%= ENV['OPENSHIFT_AUSNIMBUS_SM_IP'] %>:<%= ENV['OPENSHIFT_AUSNIMBUS_SM_PORT'] %>
User <%= ENV['OPENSHIFT_GEAR_UUID'] %>
Group <%= ENV['OPENSHIFT_GEAR_UUID'] %>
<IfVersion >= 2.4>
DefaultRuntimeDir "<%= "#{ENV['OPENSHIFT_AUSNIMBUS_SM_DIR']}/run"%>"
</IfVersion>

ErrorLog "|tee"
CustomLog "|tee" combined
